<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dah.desb.domain.endpoint.http.EndpointHttpMapper">

	<select id="getCount" resultType="int">
		select count(1) from endpoint_http
	</select>

	<select id="getById" parameterType="java.lang.String" resultType="com.dah.desb.domain.endpoint.http.EndpointHttp">
		select * from endpoint_http where id = #{id}
	</select>

	<select id="getByCode" resultType="com.dah.desb.domain.endpoint.http.EndpointHttp">
		select * from endpoint_http where code = #{code}
	</select>

	<select id="getByName" resultType="com.dah.desb.domain.endpoint.http.EndpointHttp">
		select * from endpoint_http where name = #{name}
	</select>

	<select id="getPage" resultType="com.dah.desb.domain.endpoint.http.EndpointHttp">
		select * from endpoint_http http where 1=1
		<if test="search != null and search != ''">
			<bind name="search" value="'%' + search + '%'" />
			and (http.code like #{search} or http.name like #{search})
		</if>
		order by http.code asc, http.name asc
	</select>

	<select id="getSearch" resultType="com.dah.desb.domain.endpoint.http.EndpointHttp">
		select * from endpoint_http http where 1=1
		<if test="search != null and search != ''">
			<bind name="search" value="'%' + search + '%'" />
			and (http.code like #{search} or http.name like #{search})
		</if>
		order by http.code asc, http.name asc
	</select>

	<insert id="save" parameterType="com.dah.desb.domain.endpoint.rest.EndpointRest">
		insert into endpoint_http (id, code, name, component, path, options)
		values (#{id}, #{code}, #{name}, #{component}, #{path}, #{options})
	</insert>

	<update id="update" parameterType="com.dah.desb.domain.endpoint.http.EndpointHttp">
		update endpoint_http set
			code = #{code},
			name = #{name},
			component = #{component},
			path = #{path},
			options = #{options}
		where id = #{id}
	</update>

	<delete id="remove" parameterType="java.lang.String">
		delete from endpoint_http where id = #{id}
	</delete>

</mapper>